$mainColor: #5496d4;
$shadowColor: #2e75b7;

.style_button {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px 8px 15px; // можно убрать и добавлять инлайн стили
  font-size: 14px;
  line-height: 22px;
  transition: 0.2s;
  text-align: center;
  justify-content: center;
  &:disabled,
  &[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  &:hover {
    filter: opacity(90%);
  }
  &:active {
    filter: opacity(70%);
  }
  span {
    &:last-child {
      margin-left: 10px;
    }
  }
}
.primary {
  border: none;
  background: $mainColor;
  color: #fff;
}
.default {
  background: #fff;
  border: 1px solid #000000;
}
.circle {
  min-width: 36px;
  padding-right: 0;
  padding-left: 0;
  border-radius: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
