$colorBlue:  #5496d4;
$colorWhite: #fff;
$colorGrey: #d9d9d9;
$colorRed: #f5222d;
$colorDeepGrey: #8c8c8c;

.wrapper {
    height: 100%;

    .container {
        width: 384px;
        height: auto;
        background-color: $colorWhite;
        margin: 35px auto;
        box-shadow: 0px 22px 106px rgb(0 0 0 / 7%),
        0px 9.19107px 44.2843px rgb(0 0 0 / 5%),
        0px 4.91399px 23.6765px rgb(0 0 0 / 4%),
        0px 2.75474px 13.2728px rgb(0 0 0 / 4%),
        0px 1.46302px 7.04911px rgb(0 0 0 / 3%),
        0px 0.608796px 2.93329px rgb(0 0 0 / 2%);
        border-radius: 6px;
        box-sizing: border-box;
        
        .form {
            padding: 48px 32px;
            text-align: center;

            label {
                position: relative;
                display: block;
            }
            .description {
                text-align: start;
            }
           .field {
            width: 100%;
            font-size: 16px;
            margin-bottom: 30px;
            border: 1px solid $colorGrey;
            border-radius: 4px;
            padding: 8px 12px;
           }
           .invalid {
            width: 100%;
            font-size: 16px;
            margin-bottom: 30px;
            border: 1px solid $colorRed;
            border-radius: 4px;
            padding: 8px 12px;
           }
          
        }
        .validation {
            color: $colorRed;
            position: absolute;
            top: 60px;
            text-align: start;
            font-size: 14px;
            margin-bottom: 10px;
            margin-top: 0;
           }
           .data {
            display: flex;
            margin-bottom: 20px;
          }  
    }
    .checkbox {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
      .create {
        width: 100%;
        background-color: $colorBlue;
        font-size: 16px;
        color: $colorWhite;
        border: none;
        border-radius: 4px;
        padding: 8px 0;
        margin-bottom: 8px;
        &:hover {
            cursor: pointer;
          }
      }
      .signin {
        color: $colorDeepGrey;
      }
}

